html {
    font-size: 62.5%
}

:root {
    --button-color: #aac844;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: normal;
    font-size: 50rem;
}

h2 {
    font-size: 30rem;
}

p {
    text-indent: 30px;
    font-size: 20rem;
}

button {
    background-color: var(--button-color);
    border: none;
    padding: 10px;
}