html {
    font-size: 62.5%;
}

:root {
    --button-color: #aac844;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    border: none;
    margin: 0px;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: normal;
    font-size: 15rem;
}

h2 {
    font-size: 4rem;
}

p {
    text-indent: 30px;
    font-size: 2rem;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

header {
    background-color: white;
    border: solid grey;
    padding: 40px;
}

.content {
    padding: 20px;
    background-color: white;
    border: solid grey;
}

.centered {
    text-align: center;
}

.title_card {
    position: relative;
}

.title_card img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.title_card h1 {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    color: white;
}